// EU Cookie Compliance (GDPR Compliance)
// @see: drupal.org/project/eu_cookie_compliance

$cookieclass: eu-cookie;

// Extends
%non-button {
  display: inline;
  height: auto;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

%themed-button {
  // @todo: add button theming here
  display: inline-block;
}

// Wrapper
.sliding-popup-bottom,
.sliding-popup-top {
  width: 100%;
}

// Component
.#{$cookieclass} {
  text-align: left;
  color: currentColor;
  background-color: rgba(white, 0.8);
  backdrop-filter: blur(0.2rem);


  // Elements
  &__content {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  &__message {
    p {
      display: inline;
    }
  }

  // Categories
  &__categories-section {
    margin-top: 1.2rem;

    > * {
      display: inline-block;
    }
  }

  &__categories {
    margin: 1.2rem 0 0;
    list-style: none;
    padding: 0;
  }

  &__category {
    display: inline-block;
    margin-right: 1.6rem;
  }

  &__checkbox {}

  &__category-description {}

  // Buttons
  &__buttons {
    &--has-categories {}
  }
  &__button {
    &--agree,
    &--agree-button {
      @extend %themed-button;
    }

    &--find-more {
      .#{$cookieclass}--styled-differently & {
        @extend %non-button;
      }
      &--thank-you {}
    }

    &--save-preferences {
      @extend %non-button;
    }

    &--hide-popup {}

    &--eu-cookie-withdraw-button,
    &--withdraw {}
  }

  // Withdraw tab
  &__withdraw-tab {}

  // Modifications
  &--info {}
  &--default {}
  &--styled-similarly {}
  &--styled-differently {}

  // Methods
  &--default {}
  &--categories {}
}
