{#
/**
 * @file
 * This is a template file for the cookie consent withdraw button.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to the button:
 *
 * eu-cookie-withdraw-button - withdraw button
 * eu-cookie-withdraw-tab - tab that reveals the withdraw interface
 *
 * Variables available:
 * - message: Contains the text that will be displayed within the banner.
 * - withdraw_tab_button_label: Label for the tab that sits at the window edge.
 * - withdraw_action_button_label: Label for the withdraw button.
 */
#}

{% set component = "eu-cookie" %}

{% set attributes = create_attribute() %}

{%
  set classes = [
    component,
    component ~ '--withdraw-banner',
  ]
%}

{% block before %}
{% endblock before %}

{{ attach_library('compony/' ~ component) }}

<button type="button" class="{{ component }}__withdraw-tab eu-cookie-withdraw-tab">{{ withdraw_tab_button_label }}</button>

<div{{ attributes.addClass(classes) }}>
  <div class="{{ component }}__content container">
    <div class="{{ component }}__message" id="popup-text">
      {{ message }}
    </div>
    <div class="{{ component }}__buttons" id="popup-buttons">
      <button type="button" class="{{ component }}__button {{ component }}__button--withdraw eu-cookie-withdraw-button">{{ withdraw_action_button_label }}</button>
    </div>
  </div>
</div>

{% block after %}
{% endblock after %}
