{#
/**
 * @file
 * This is a template file for a banner informing a user that he has already
 * agreed to cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * hide-popup-button - destroy the banner
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - $message:  Contains the text that will be display within the banner
 * - $hide_button: Label for the hide button
 * - $find_more_button: Label for the find out more button
 */
#}

{% set component = "eu-cookie" %}

{% set attributes = create_attribute() %}

{%
  set classes = [
    component,
    component ~ '--thank-you',
  ]
%}

{{ attach_library('compony/' ~ component) }}

{% block before %}
{% endblock before %}

<div{{ attributes.addClass(classes) }}>
  <div class="{{ component }}__content container">
    <div class="{{ component }}__message" id="popup-text">
      {{ message }}
    </div>
    <div class="{{ component }}__buttons" id="popup-buttons">
      <button type="button" class="{{ component }}__button {{ component }}__button--hide-popup hide-popup-button">{{ hide_button }}</button>
      {% if find_more_button %}
        <button type="button" class="{{ component }}__button {{ component }}__button--find-more {{ component }}__button--find-more--thank-you find-more-button">{{ find_more_button }}</button>
      {% endif %}
    </div>
  </div>
</div>

{% block after %}
{% endblock after %}
