{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the primary/agree button. Note that this is the
 *   primary button. For backwards compatibility, the name remains agree_button.
 * - disagree_button: Contains Cookie policy button title. (Note: for historical
 *   reasons, this label is called "disagree" even though it just displays the
 *   privacy policy.)
 * - secondary_button_label: Contains the secondary button label. The current
 *   action depends on whether you're running the module in Opt-out or Opt-in
 *   mode.
 * - primary_button_class: Contains class names for the primary button.
 * - secondary_button_class: Contains class names for the secondary button
 *   (if visible).
 * - cookie_categories: Contains a array with cookie categories that can be
 *   agreed or disagreed to separately.
 * - save_preferences_button_label: Label text for a button to save the consent
 *   preferences.
 * - fix_first_cookie_category: Boolean value to indicate that the first consent
 *   category cannot be unchecked.
 * - privacy_settings_tab_label: Label text for the Privacy settings tab.
 * - withdraw_button_on_info_popup: Show the withdraw button on this popup.
 * - method: Chosen consent method.
 */
#}

{% set component = "eu-cookie" %}

{%
  set classes = [
    component,
    component ~ '--info',
    component ~ '--styled-differently',
    [component ~ '--', method|replace('_', '-')]|join,
  ]
%}

{{ attach_library('compony/' ~ component) }}

{% block before %}
{% endblock before %}

{% if privacy_settings_tab_label %}
  <button type="button" class="{{ component }}__withdraw-tab eu-cookie-withdraw-tab">{{ privacy_settings_tab_label }}</button>
{% endif %}

<div{{ attributes.addClass(classes) }}>
  <div class="{{ component }}__content container">
    <div class="{{ component }}__message" id="popup-text">
      {{ message }}
      {% if disagree_button %}
        <button type="button" class="{{ component }}__button {{ component }}__button--find-more find-more-button">{{ disagree_button }}</button>
      {% endif %}
    </div>

    {% if cookie_categories %}
    <section class="{{ component }}__categories-section">
      <ul class="{{ component }}__categories" id="eu-cookie-compliance-categories">
        {% for key, category in cookie_categories %}
          <li class="{{ component }}__category">
            <div class="{{ component }}__checkbox">
              <input type="checkbox" name="cookie-categories" id="cookie-category-{{ key }}"
                     value="{{ key }}" {% if fix_first_cookie_category and loop.first %} checked disabled{% endif %}>
              <label for="cookie-category-{{ key }}">{{ category.label }}</label>
            </div>
            {% if category.description %}
              <div class="{{ component }}__category-description">{{ category.description }}</div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% if save_preferences_button_label %}
      <div class="{{ component }}__categories-buttons">
        <button type="button" class="{{ component }}__button {{ component }}__button--save-preferences">{{ save_preferences_button_label }}</button>
      </div>
      {% endif %}
    </section>
    {% endif %}

    <div class="{{ component }}__buttons{% if cookie_categories %} {{ component }}__buttons--has-categories{% endif %}" id="popup-buttons">
      <button type="button" class="{{ component }}__button {{ component }}__button--{{ primary_button_class }} agree-button">{{ agree_button }}</button>
      {% if secondary_button_label %}
        <button type="button" class="{{ component }}__button {{ component }}__button--{{ secondary_button_class }}">{{ secondary_button_label }}</button>
      {% endif %}
    </div>
  </div>
</div>

{% block after %}
{% endblock after %}
