{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the agree button
 * - disagree_button: Label for the disagree button
 */
#}

{% set component = "eu-cookie" %}

{% set attributes = create_attribute() %}

{%
  set classes = [
    component,
    component ~ '--info',
    component ~ '--styled-similarly',
  ]
%}

{{ attach_library('compony/' ~ component) }}

{% block before %}
{% endblock before %}

<div{{ attributes.addClass(classes) }}>
  <div class="{{ component }}__content container">
    <div class="{{ component }}__message" id="popup-text">
      {{ message }}
    </div>
    <div class="{{ component }}__buttons" id="popup-buttons">
      <button type="button" class="{{ component }}__button {{ component }}__button--agree agree-button">{{ agree_button }}</button>
      {% if disagree_button %}
        <button type="button" class="{{ component }}__button {{ component }}__button--find-more find-more-button">{{ disagree_button }}</button>
      {% endif %}
    </div>
  </div>
</div>

{% block after %}
{% endblock after %}
